.index-body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.index-para {
	font-family: verdana;
	background-color: white;
	color: black;
	width: fit-content;
}