/* Style the width input reader container */
#widthInputContainer {
	display:inline-block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	border:1px solid;
	padding:10px;
}

/* Style instructions (set visible on hover) */
#insHover {
	display:inline-block;
	font-size:14px;
	border:1px solid;
	padding:10px;
	position:absolute;
	top:130px;
	right:10px;
	transform:translate(0,-50%);
}
#instructionsContainer {
	display:none;
	border:1px solid;
	padding:10px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:1;
}
#insHover:hover + #instructionsContainer {
	display:inline-block;
}

/* Style the input grids for each matrix operation */
#gridContainer {
	visibility:hidden;
	border:1px solid black;
	border-top:none;
	border-bottom:none;
	position:absolute;
	top:60%;
	left:40%;
	transform:translate(-50%,-50%);
	display:grid;
	padding:30px;
	grid-gap:10px;
	border-radius:30px;
	background-color:white;
}

/* Style second input prompt container */ 
#secondInputContainer {
	display:inline-block;
	position:absolute;
	left:65%;
	top:57%;
	border:1px solid;
	padding:10px;
	visibility:hidden;
}

/* Style invalid input fields */
.invalid {
	border:2px solid red;
}

/* Style output container */
#outputContainer {
	display:inline-block;
	position:absolute;
	left:65%;
	top:85%;
	border:1px solid;
	padding:10px;
	visibility:hidden;
	font-size:28px;
}
#outputGrid {
	border:1px solid;
	border-radius:15px;
	border-top:none;
	border-bottom:none;
	display:grid;
	grid-gap:10px;
	padding:10px;
}
#outputGrid div {
	padding:3px 0;
	font-size:16px;
	text-align:center;
}