/* Style the width input reader container */
#widthInputContainer {
	display:inline-block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	border:1px solid;
	padding:10px;
}

/* Style the input grids for each matrix operation */
#gridContainer {
	visibility:hidden;
	border:1px solid;
	position:absolute;
	top:60%;
	left:50%;
	transform:translate(-50%,-50%);
	display:grid;
	padding:10px;
	grid-gap:10px;
}