h1 {
	color:purple;
}

/* Styling for width input container. */
#widthInputContainer {
	border:1px solid;
	display:inline-block;
	padding:10px;
}

/* Styling for footer container. */
#footerbox {
	position:absolute;
	bottom:10px;
	margin-left:auto;
	margin-right:auto;
}