/* Style the two grid containers. */
.gridContainer {
	visibility:hidden;
	border:1px solid;
	border-radius:30px;
	border-top:none;
	border-bottom:none;
	display:grid;
	padding:20px;
	grid-gap:10px;
}
#gridContainer1 {
	position:absolute;
	top:60%;
	left:30%;
	transform:translate(-50%,-50%);
}
#gridContainer2 {
	position:absolute;
	top:60%;
	left:60%;
	transform:translate(-50%,-50%);
	float:left;
}