/* Style the width and height input reader containers */
.inputContainer {
	display:inline-block;
	border:1px solid;
	padding:10px;
}
#widthInputContainer {
	position:absolute;
	top:30%;
	left:10px;
	transform:translate(0,-50%);
}
#heightInputContainer {
	position:absolute;
	top:50%;
	left:10px;
	transform:translate(0,-50%);
}

/* Style two grid containers. */
#gridContainer1, #gridContainer2 {
	visibility:hidden;
	border:1px solid;
	border-top:none;
	border-bottom:none;
	display:grid;
	padding:30px;
	grid-gap:10px;
	border-radius:30px;
}

#gridContainer1 {
	position:absolute;
	top:60%;
	left:30%;
	transform:translate(-50%,-50%);
}

#gridContainer2 {
	position:absolute;
	top:60%;
	left:60%;
	transform:translate(-50%,-50%);
}