/* Style the width + height input reader container */
#inputContainer {
	display:inline-block;
	border:1px solid;
	padding:10px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

/* Style two grid containers. */
.gridContainer {
	visibility:hidden;
	border:1px solid;
	border-radius:30px;
	border-top:none;
	border-bottom:none;
	display:grid;
	padding:30px;
	grid-gap:10px;
}
#gridContainer1 {
	position:absolute;
	top:60%;
	left:30%;
	transform:translate(-50%,-50%);
}
#gridContainer2 {
	position:absolute;
	top:60%;
	left:60%;
	transform:translate(-50%,-50%);
}

/* Style second input prompt container */ 
#secondInputContainer {
	display:inline-block;
	position:absolute;
	left:75%;
	top:30%;
	border:1px solid;
	padding:10px;
	visibility:hidden;
}

/* Style output container. */
#outputContainer {
	display:inline-block;
	position:absolute;
	left:75%;
	top:50%;
	border:1px solid;
	padding:20px;
	visibility:hidden;
	font-size:28px;
}
#outputGrid {
	border:1px solid;
	border-radius:15px;
	border-top:none;
	border-bottom:none;
	display:grid;
	grid-gap:10px;
	padding:10px;
}
#outputGrid div {
	padding:3px 0;
	font-size:16px;
	text-align:center;
}
